@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

#container-animation {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(232, 228, 188);
}

#field {
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
  background-image: url(./../../../public/forAnimation/field.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

#control {
  margin: auto;
  width: fit-content;
}

.ball {
  border-radius: 50%;
  height: 100%;
  background-color: rgb(171, 254, 254);
  position: absolute;
  background-size: cover;
}

#control button, #control label {
  margin: 5px;
}
