.timer{
    background-color: rgb(134, 199, 220);
    border-radius: 30px;
}
.time{
    font-size: 40px;
    font-weight: bolder;
}
.buttons{
    background-color: turquoise;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
/* .btn{
    background-color: blue;
} */